p{
    color: rgb(0, 0, 0);
    background-color: rgb(190, 244, 244);

    width: 50%;
    text-align: center;
    margin: 30px 20px;
    border: 10px solid rgb(219, 68, 118);
    border-radius: 10px;
    box-shadow: 5px 20px 40px rgb(228, 101, 215);
    box-shadow: rgb(184, 8, 67);
}
h2{
    background-color: yellow;
}
ol{
    background-color: aquamarine;
}