p{
    color: rgb(0, 0, 0);
    background-color: rgb(190, 244, 244);

    width: 50%;
    text-align: center;
    margin: 30px 20px;
    border: 3px solid rgb(219, 68, 118);
    border-radius: 10px;
    box-shadow: 5px 20px 40px rgba(228, 101, 215, 0.477);
    box-shadow: rgb(184, 8, 67);
}
h2{
    background-color: yellow;
    border: 3px solid;
}
ol{
    background-color: rgba(127, 255, 212, 0.657);
    border: 5px double pink;
}